<!DOCTYPE html>
<html>
<head>
    <title>Aplikasi CRUD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h2>Aplikasi CRUD Python Menggunakan Flask</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kode Barang</th>
                    <th>Nama Barang</th>
                    <th>Harga</th>
                    <th>Jumlah</th>
                    <th width="18%" colspan="2">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for row in container %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td><a href="{{ url_for('edit', id=row[0]) }}" class="btn btn-warning" role="button">Ubah</a></td>
                    <td><a href="{{ url_for('hapus', id=row[0]) }}" class="btn btn-danger" role="button">Hapus</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('tambah') }}" class="btn btn-primary" role="button">Tambah Data</a>
    </div>
</body>
</html>